:global(.vtex-b2b-organizations-1-x-userWidgetItem) :global(.h-regular) {
  height       : 33px !important;
  border-radius: 30px !important;
  border       : none !important;
}

:global(.vtex-b2b-organizations-1-x-userWidgetItem) button {
  background-color: var(--white);
  border-radius   : 0px !important;
  border          : none !important;
  height          : 33px;
  min-height      : 33px !important;
}

:global(.vtex-b2b-organizations-1-x-userWidgetItem) :global(.b--muted-2) {
  border: none !important;
}

:global(.vtex-b2b-organizations-1-x-userWidgetItem) button :global(.truncate),
:global(.vtex-b2b-organizations-1-x-userWidgetItem) button :global(.fw7) {
  font-size  : 14px;
  font-weight: 400 !important;
  line-height: 16.8px;
  text-align : left;
  color      : var(--primary);
}

:global(.vtex-b2b-organizations-1-x-userWidgetItem) button :global(.vtex-button__label) {
  height: 33px !important;
}