.flexRow--wrapper-filters-and-order
	:global(.vtex-store-components-3-x-container) {
	padding: 0;
}

.flexRowContent--wrapper-filters-and-order {
	display: flex;
	justify-content: space-evenly;
}

.flexRowContent--wrapper-filters-and-order
	:global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
	width: 35% !important;
}

.flexRowContent--wrapper-filters-and-order
	:global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
	width: 14% !important;
}

.flexRow--wrapper-total-products {
	border-top: 1px solid var(--gray);
}

.flexRowContent--wrapper-filters-and-order
	:global(.vtex-search-result-3-x-filterPopupButton),
:global(.vtex-search-result-3-x-orderByButton) {
	border: 1px solid var(--gray);
	border-radius: 100px;
	font-size: 16px;
	font-weight: bold;
	color: var(--darkMid);
	max-width: 127px;
	width: 127px;
	height: 48px;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	gap: 4px;
}

.flexRowContent--wrapper-filters-and-order
	:global(.vtex-search-result-3-x-filterPopupArrowIcon) {
	padding: 0;
}

.flexRowContent--wrapper-filters-and-order
	:global(.vtex-search-result-3-x-orderByText) {
	display: none;
	font-size: 0;
}

.flexRowContent--wrapper-filters-and-order
	:global(.vtex-search-result-3-x-orderBy--layout),
:global(.vtex-search-result-3-x-filterPopupTitle) {
	font-size: 0px;
}

.flexRowContent--wrapper-filters-and-order
	:global(.vtex-search-result-3-x-orderBy--layout),
:global(.vtex-search-result-3-x-filterPopupTitle)::before {
	content: 'Ordernar';
	font-size: 16px;
	text-transform: capitalize;
	margin-left: 1px;
}

.flexRowContent--wrapper-filters-and-order
	:global(.vtex-search-result-3-x-filterPopupArrowIcon)
	:local(svg) {
	margin-top: 0.25rem !important;
}

.flexRowContent--wrapper-filters-and-order
	:global(.vtex-search-result-3-x-galleryLayoutSwitcher) {
	display: flex;
	justify-content: space-evenly;
}

/* filter */
.flexColChild--container_filter-desktop {
	border-right: 0.5px solid var(--borderLight);
	padding-top: 1.5rem;
	padding-right: 0.7rem;
  padding-bottom: 1rem;
}

.flexCol--filterCol::before {
	content: '';
	height: calc(100% - 6.2rem);
	width: 1px;
	background: var(--gray);
	position: absolute;
	bottom: 0;
	right: -1rem;
}

.flexRow--result__category {
	padding-right: 6rem;
}

.flexRow--orderByAndSwitcher {
	margin-left: -40px;
}

.flexRow--wrapper-title-search {
	padding-right: 6.5rem;
}

.flexRow--wrapper-title-search :global(.vtex-store-components-3-x-container) {
	padding: 0;
}

.flexRowContent--btn-plp {
	padding: 0 16px;
	padding-bottom: 28px;
}

.flexRowContent--btn-plp :global(.vtex-button) {
	height: 48px;
	background-color: var(--primary);
	border-color: var(--primary);
}

.flexRowContent--btn-plp :global(.vtex-button):hover {
	background-color: var(--primaryDark);
	border-color: var(--primaryDark);
}

.flexRowContent--btn-plp
	:global(.vtex-add-to-cart-button-0-x-buttonText--product-plp-button) {
	display: flex;
	align-items: center;
	text-align: center;
}

.flexRowContent--btn-plp
	:global(.vtex-button)
	:global(.vtex-add-to-cart-button-0-x-buttonText--product-plp-button)::after {
	content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.2501 6.48961C19.2578 6.07547 19.5997 5.74592 20.0138 5.75355C20.3704 5.76011 20.7259 5.77893 21.037 5.86098C21.3776 5.95083 21.6997 6.12531 21.9388 6.45421L21.9388 6.45425C22.2333 6.85944 22.2709 7.3176 22.242 7.73709C22.2148 8.13225 22.117 8.61757 22.0057 9.17037L21.9963 9.21717C21.9962 9.21718 21.9962 9.21719 21.9962 9.21721C21.5908 11.2314 21.1917 13.1308 20.2533 14.5004C19.767 15.2101 19.1345 15.7851 18.2929 16.1757C17.4598 16.5622 16.4611 16.7501 15.2632 16.7501H8C7.58579 16.7501 7.25 16.4143 7.25 16.0001C7.25 15.5859 7.58579 15.2501 8 15.2501H15.2632C16.3091 15.2501 17.0785 15.0856 17.6615 14.815C18.2358 14.5485 18.667 14.1617 19.0159 13.6526C19.7475 12.5848 20.1035 11.0187 20.5257 8.92115L20.5258 8.92112C20.6493 8.3074 20.7259 7.91952 20.7455 7.63406C20.7548 7.49938 20.7482 7.4221 20.7397 7.37916C20.7339 7.34951 20.7281 7.33972 20.7261 7.33695C20.7199 7.33349 20.6995 7.32326 20.6544 7.31137C20.5335 7.27947 20.3373 7.25976 19.9862 7.25329C19.5721 7.24567 19.2425 6.90376 19.2501 6.48961Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13 1.75C13.4142 1.75 13.75 2.08579 13.75 2.5V5.75H17C17.4142 5.75 17.75 6.08579 17.75 6.5C17.75 6.91421 17.4142 7.25 17 7.25H13.75V10.5C13.75 10.9142 13.4142 11.25 13 11.25C12.5858 11.25 12.25 10.9142 12.25 10.5V7.25H9C8.58579 7.25 8.25 6.91421 8.25 6.5C8.25 6.08579 8.58579 5.75 9 5.75H12.25V2.5C12.25 2.08579 12.5858 1.75 13 1.75Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1.75 2C1.75 1.58579 2.08579 1.25 2.5 1.25H3.43845C4.70033 1.25 5.80029 2.10881 6.10634 3.33303L6.1098 3.34687L8.734 15.8459C8.81911 16.2513 8.55948 16.6489 8.1541 16.734C7.74873 16.8191 7.35111 16.5595 7.266 16.1541L4.648 3.68461C4.50467 3.13466 4.00782 2.75 3.43845 2.75H2.5C2.08579 2.75 1.75 2.41421 1.75 2Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.25 18.5714C5.25 16.7662 6.66244 15.25 8.46857 15.25H8.88C9.29421 15.25 9.63 15.5858 9.63 16C9.63 16.4142 9.29421 16.75 8.88 16.75H8.46857C7.64598 16.75 6.92126 17.3779 6.77631 18.25H17.5C17.9142 18.25 18.25 18.5858 18.25 19C18.25 19.4142 17.9142 19.75 17.5 19.75H6.41143C5.74137 19.75 5.25 19.1931 5.25 18.5714Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 19.75C10.0858 19.75 9.75 20.0858 9.75 20.5C9.75 20.9142 10.0858 21.25 10.5 21.25C10.9142 21.25 11.25 20.9142 11.25 20.5C11.25 20.0858 10.9142 19.75 10.5 19.75ZM8.25 20.5C8.25 19.2574 9.25736 18.25 10.5 18.25C11.7426 18.25 12.75 19.2574 12.75 20.5C12.75 21.7426 11.7426 22.75 10.5 22.75C9.25736 22.75 8.25 21.7426 8.25 20.5Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 19.75C17.0858 19.75 16.75 20.0858 16.75 20.5C16.75 20.9142 17.0858 21.25 17.5 21.25C17.9142 21.25 18.25 20.9142 18.25 20.5C18.25 20.0858 17.9142 19.75 17.5 19.75ZM15.25 20.5C15.25 19.2574 16.2574 18.25 17.5 18.25C18.7426 18.25 19.75 19.2574 19.75 20.5C19.75 21.7426 18.7426 22.75 17.5 22.75C16.2574 22.75 15.25 21.7426 15.25 20.5Z" fill="white"/></svg>');
	font-size: 24px;
	margin-left: 5px;
}

/* Tablet */
@media (min-width: 40rem) {
}

.flexColChild--wrapper-search {
	height: auto !important;
}

.flexCol--wrapper-search {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-left: 1rem;
}

/*Not found search*/
.flexRowContent--wrapper-search .stretchChildrenWidth:first-child,
.flexRowContent--wrapper-search .stretchChildrenWidth:last-child {
	width: 100% !important;
}
/*Not found search*/

.flexRowContent--search-category
	:global(.vtex-slider-layout-0-x-paginationDotsContainer--slide-vitrina-home) {
	bottom: -1rem;
}

.flexRowContent--search-category {
	padding-bottom: 2.6rem;
}

.flexRowContent--search-slider
	:global(.vtex-slider-layout-0-x-paginationDotsContainer--slide-vitrina-home) {
	bottom: -1rem;
}

.flexRowContent--search-slider {
	padding-bottom: 4rem;
}

/*Not found search*/
.flexRowContent--wrapper-search {
	display: flex;
	flex-direction: column;
}

.flexRow--wrapper-search {
	padding-bottom: 2rem !important;
}
/*Not found search*/

.flexRowContent--orderByAndSwitcher {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.flexRow--imagen-product__list {
	width: 202px;
	min-height: 202px;
}

.flexRow--container-product__list {
	width: 75%;
}

.flexRowContent--container-product__list {
	margin-left: 0.5rem;
}

.flexColChild--one-product__list {
	height: auto !important;
}

.flexColChild--one-product__list
	:global(.vtex-product-summary-2-x-priceContainer) {
	margin-top: 45px;
}

.flexRow--fetchmore-gallery {
	margin-bottom: 3rem;
}

.flexRow--fetchmore-gallery
	:global(.vtex-search-result-3-x-buttonShowMore)
	:global(.vtex-button) {
	width: 311px;
	height: 48px;
	padding: 12px 24px 12px 24px;
	gap: 4px;
	border-radius: 100px;
	border: 1px;
	background-color: var(--white);
	color: var(--primaryDark);
	border: 1px solid var(--primary);
	justify-content: center;
	font-size: 0;
	font-weight: 400;
	line-height: 19.2px;
}

.flexRow--menos-product
	:global(.vtex-search-result-3-x-buttonShowMore--layout)
	:global(.vtex-button) {
	margin-top: 2rem;
	width: 311px;
	height: 48px;
	padding: 12px 24px 12px 24px;
	gap: 4px;
	border-radius: 100px;
	border: 1px;
	background-color: var(--white);
	color: var(--primary);
	border: 1px solid var(--primary);
	justify-content: center;
	font-size: 0;
	font-weight: 400;
	line-height: 19.2px;
}

.flexRow--fetchmore-gallery
	:global(.vtex-search-result-3-x-buttonShowMore)
	:global(.vtex-button__label)::before {
	content: 'Ver más productos';
	font-size: 16px;
	text-transform: none;
}

.flexRow--menos-product
	:global(.vtex-search-result-3-x-buttonShowMore)
	:global(.vtex-button)
	:global(.vtex-button__label)::before {
	content: 'Ver menos productos';
	font-size: 16px;
	text-transform: none;
}

.flexRow--fetchmore-gallery
	:global(.vtex-search-result-3-x-buttonShowMore)
	:global(.vtex-button):hover,
:global(.vtex-search-result-3-x-buttonShowMore--layout)
	:global(.vtex-button):hover {
	background: var(--primaryLight);
	color: var(--primaryDark);
	border: 1px solid var(--primaryDark);
}

:global(.vtex-add-to-cart-button-0-x-buttonText--product-plp-button) {
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	color: var(--white);
}

/*Breadcrumb*/
.flexRow--breadcrumb-search {
	padding: 0 0.5rem;
}
/*Breadcrumb*/

/* Tablet */

.flexRowContent--wrapper-filters-and-order
	:local(
		button[class='vtex-search-result-3-x-orderByButton vtex-search-result-3-x-orderByButton--orderMobile ph3 pv5 mv0 pointer flex items-center justify-end bg-base c-on-base t-action--small bt br bl bb-0 br2 br--top bw1 w-100 outline-0 b--muted-4']
	),
.flexRowContent--orderByAndSwitcher
	:local(
		button[class='vtex-search-result-3-x-orderByButton ph3 pv5 mv0 pointer flex items-center justify-end bg-base c-on-base t-action--small bt br bl bb-0 br2 br--top bw1 w-100 outline-0']
	) {
	border-color: var(--primary);
	background: var(--lightBlue);
}

.flexRowContent--wrapper-filters-and-order
	:local(
		button[class='vtex-search-result-3-x-orderByButton vtex-search-result-3-x-orderByButton--orderMobile ph3 pv5 mv0 pointer flex items-center justify-end bg-base c-on-base t-action--small bt br bl bb-0 br2 br--top bw1 w-100 outline-0 b--muted-4']
	)
	:global(.vtex-search-result-3-x-filterPopupTitle),
.flexRowContent--orderByAndSwitcher
	:local(
		button[class='vtex-search-result-3-x-orderByButton ph3 pv5 mv0 pointer flex items-center justify-end bg-base c-on-base t-action--small bt br bl bb-0 br2 br--top bw1 w-100 outline-0']
	)
	:global(.vtex-search-result-3-x-filterPopupTitle) {
	color: var(--primary);
}

.flexRow--btn-plp :global(.vtex-button) :global(.vtex-button__label) {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/* Desktop */
@media (min-width: 64rem) {
	.flexColChild--gallery-desktop {
		height: auto !important;
	}

	.flexRowContent--btn-plp {
		padding: 0 15px;
	}

	.flexRow--wrapper-total-products {
		border-top: none;
	}

	.flexRowContent--orderByAndSwitcher
		:global(.vtex-search-result-3-x-orderByButton) {
		width: 160px;
		max-width: none;
		height: 48px;
	}

	.flexRowContent--orderByAndSwitcher
		:global(.vtex-search-result-3-x-filterPopupTitle)::before {
		margin-left: 20px;
	}

	.flexRowContent--result__category
		:global(.vtex-flex-layout-0-x-flexColChild):first-child
		:local(
			div[class='pr0 items-stretch vtex-flex-layout-0-x-stretchChildrenWidth   flex']
		) {
		width: 60% !important;
	}

	.flexRowContent--orderByAndSwitcher
		:global(.vtex-search-result-3-x-filterPopupArrowIcon) {
		padding-left: 0.25rem;
	}

	.flexRowContent--orderByAndSwitcher
		:global(.vtex-search-result-3-x-filterPopupArrowIcon)
		:local(svg) {
		margin-top: 0.25rem !important;
	}
	/*Not found search*/
	.flexRowContent--wrapper-search {
		margin-top: 4rem;
		margin-bottom: 4rem;
		flex-direction: row;
	}

	.flexRowContent--wrapper-search .stretchChildrenWidth:first-child {
		width: 40% !important;
	}

	.flexRowContent--wrapper-search .stretchChildrenWidth:last-child {
		width: 60% !important;
	}

	.flexRow--wrapper-search {
		padding-bottom: 0 !important;
	}
	/*Not found search*/
}

@media (min-width: 1700px) {
	.flexColChild--container_filter-desktop {
		padding-left: 1rem;
	}

	.flexRow--result__category {
		padding-right: 4rem;
	}

	.flexRow--orderByAndSwitcher {
		margin-left: -10px;
	}

	.flexRow--wrapper-title-search {
		padding-right: 4.5rem;
	}
}
